@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #e6fcfb;
}

/* Header */

nav{
    background-color: rgba(0, 0, 0, 0.6);
}

header{
    box-shadow: black 0px 5px 7px;
}

.header2{
    background-color: rgba(0, 0, 0, 0.6);
}

.title-princ,
.title-princ b{
    text-shadow: black 1px 2px 1px;
    font-family: 'Satisfy', cursive;
    color: #b5d9dd;
    font-size: 50px;
    margin-left: 42%;
}

li a{
    font-family: 'Poppins', sans-serif;
    text-shadow: #000000 2px 1px 0px;
    font-weight: bold;
    color: #b5d9dd;
    transition: all 0.3s ease 0.3s;
}

li a:hover{
    color: #ffffff;
}

.header-anim{
    position: relative;
    overflow :hidden;
    height: 10vw;
    min-height: 200px;
    max-height: 350px;
    min-width: 200px;
    color: #eee;
}

.header-anim:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}

.header-anim:before{
    content: "";
    width: 100%;
    height: 250%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    scale: (1.0, 1.0);
    transform: translateZ(0);
    background: #1B2030 url(../images/salle-bg3.jpg) 50% 0 no-repeat;
    background-size: 100%;
    background-attachment:fixed;
    animation: grow 35s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2
}

@keyframes grow{
    0% { transform: scale(1) translateY(0px)}
    50% { transform: scale(1.2) translateY(-300px)}
}
