
/* Main */

.main-content{
    font-family: 'Poppins', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.main-content h1{
    font-size: 22px;
}
