body{
    background-image: url('../images/bg.jpg');
    background-size: cover;
}


.planing{
    margin :auto;
    margin-top: 1.5%;
    color : #b5d9dd;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;  
}

.planing a{
    color : #b5d9dd;
    text-decoration: none;
}

.planing a:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

th{
    text-align: center;
}

td{
    
    text-align: center;
    width: 200px;   
}

tr{
    height: 43px;
}

